<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activation Email</title>
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        line-height: 1.5;
        background-color: #fafafa;
        color: #222222;
      }
      * {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      table td {
        vertical-align: top;
      }
      /* layout */
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        background-color: #0070f3;
        padding: 24px;
        color: #ffff;
      }
      .email-body {
        padding: 24px;
        background-color: #ffff;
      }
      .email-footer {
        background-color: #f6f6f6;
        padding: 24px;
      }
      /* Button */
      .button {
        display: inline-block;
        background-color: #0070f3;
        color: #ffff;
        font-size: 16px;
        text-align: center;
        font-weight: 700;
        text-decoration: none;
        padding: 12px 24px;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header"><h1>Welcome to Rs LMs</h1></div>
      <div class="email-body">
        <p>Hello <%= user.name%></p>
        <p>Thank you for register with RS lms Platform. to active your account, please use the following activation Code:  </p>
        <h2> <%=activationCode %> </h2>
        <p>Please enter this code an the active page within the next 5 minutes</p>
      </div>
    </div>
  </body>
</html>
